@*receives one object of the Student class*@
@model MvcApplication1.Models.Student 
@{
    ViewBag.Title = "CallStudent Page";
}

<h2>CallStudent: find the views under Demo/CallStudent</h2>
@*Display the Student object- Note CAPS Model*@
@Model.FirstName  F.
@Model.LastName
